<f:asset.css identifier="swiper-css" href="{settings.pathPublic}Css/Swiper/swiper-bundle.min.css" />
<f:asset.script identifier="swiper-lib" src="{settings.pathPublic}JavaScript/Dist/Swiper/swiper-bundle.min.js" defer="1" type="text/javascript" />

<f:asset.script identifier="swiper-call" defer="1" type="text/javascript">
    function initSwiper<f:format.raw>c{uid}</f:format.raw>(){
        const swiper =new Swiper("<f:format.raw>#c{uid}-swiper</f:format.raw>", {
            a11y: {
            prevSlideMessage: '<f:translate key="{locallang}:fe.slider.prev" />',
            nextSlideMessage: '<f:translate key="{locallang}:fe.slider.next" />',
            },
            slidesPerView: 1,
            lazy: true,
            
            // Navigation arrows
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            
            // And if we need scrollbar
            scrollbar: {
            el: '.swiper-scrollbar',
            },
        });
    }
    window.addEventListener('DOMContentLoaded', initSwiper<f:format.raw>c{uid}</f:format.raw>);
</f:asset.script>