<f:if condition="{assets}">
    <f:variable name="classimage"><f:switch expression="{imageorient}">
        <f:case value="0">card-img-top justify-content-center</f:case>
        <f:case value="1">card-img-top justify-content-end</f:case>
        <f:case value="2">card-img-top justify-content-start</f:case>
        <f:case value="8">card-img-bottom justify-content-center</f:case>
        <f:case value="9">card-img-bottom justify-content-end</f:case>
        <f:case value="10">card-img-bottom justify-content-start</f:case>
        <f:defaultCase></f:defaultCase>
    </f:switch></f:variable>
    <div class="{classimage}">
        <f:for each="{assets}" as="file">
            <f:switch expression="{file.originalFile.properties.type}">
                <f:case value="2">
                    <figure class="figure mb-0">
                        <f:image
                            image="{file}"
                            width="{imagewidth}"
                            height="{imageheight}"
                            absolute="1"
                            loading="lazy"
                            title="{file.title}"
                            alt="{file.alternative}"
                            class="figure-img img-fluid mb-0" />
                        <f:if condition="{file.description}">
                            <figcaption class="figure-caption">{file.description}</figcaption>
                        </f:if>
                    </figure>
                </f:case>
                <f:case value="4">
                    <figure class="figure mb-0 w-100">
                        <div class="ratio ratio-16x9">
                            <f:media
                                class="figure-img img-fluid mb-0" file="{file}"
                                width="{f:if(condition:imagewidth,then:imagewidth,else:560)}"
                                height="{f:if(condition:imageheight,then:imageheight,else:315)}"
                                alt="{file.alternative}"
                                title="{file.title}"
                                additionalAttributes="{loading:'lazy'}"
                                additionalConfig="{settings.media.additionalConfig}" />
                        </div>
                        <f:if condition="{file.description}">
                            <figcaption class="figure-caption position-relative d-inline-block">{file.description}</figcaption>
                        </f:if>
                    </figure>
                </f:case>
            </f:switch>
        </f:for>
    </div>
</f:if>