<div id="c{uid}" class="gf-columnizercolumns type-default colpos-{colPos} {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)} {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)} {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)} {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)} {layout}">
    <f:if condition="{header}">
        <div class="row">
            <div class="col">
                <f:render partial="Columnizercontents/Header" arguments="{
                            header: header,
                            layout: header_layout,
                            positionClass: '{f:if(condition: header_position, then: \'ce-headline-{header_position}\')}',
                            additionalClass: 'mb-3',
                            default: settings.defaultHeaderType}" />
            </div>
        </div>
    </f:if>
    <div class="card-group row-cols-md-{gf_sitepackage_columnwidths}">
        <f:for each="{content}" as="record">
            <f:format.raw>{record.renderedContent}</f:format.raw>
        </f:for>
    </div>
</div>