<f:asset.css identifier="swiper-css" href="{settings.pathPublic}Css/Swiper/swiper-bundle.min.css" />
<f:asset.script identifier="swiper-lib" src="{settings.pathPublic}JavaScript/Dist/Swiper/swiper-bundle.min.js" defer="1" type="text/javascript" />

<div id="c{uid}" class="gf-columnizercolumns type-{f:if(condition:gf_sitepackage_type,then:gf_sitepackage_type) -> f:format.case(mode:'lower')} colpos-{colPos} {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)} {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)} {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)} {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)} {layout}">
    
    <gf:swiper
        uid="c{uid}_swiper"
        navigation="1"
        scrollbar="1"
        slidesPerView="1"
        spaceBetween="10"
        breakpoints="{
            0: {
            slidesPerView: 1,
            spaceBetween: 15
            },
            480: {
            slidesPerView: 1,
            spaceBetween: 20
            },
            568: {
            slidesPerView: 2,
            spaceBetween: 20
            },
            1024: {
            slidesPerView: 3,
            spaceBetween: 20
            },
            1200: {
            slidesPerView: 4,
            spaceBetween: 48
            }
        }"
        a11y="{prevSlideMessage:'{f:translate(key:\'{locallang.gf}:fe.slider.prev\')}',nextSlideMessage:'{f:translate(key:\'{locallang.gf}:fe.slider.next\')}'}"
    >
        <f:for each="{content}" as="record" iteration="iterator">
            <div class="swiper-slide">
                <f:format.raw>{record.renderedContent}</f:format.raw>
            </div>
        </f:for>
    </gf:swiper>
</div>