<f:asset.css identifier="swiper-css" href="{settings.pathPublic}Css/Swiper/swiper-bundle.min.css" />
<f:asset.script identifier="swiper-lib" src="{settings.pathPublic}JavaScript/Dist/Swiper/swiper-bundle.min.js" defer="1" type="text/javascript" />

<f:asset.script identifier="swiper-call" defer="1" type="text/javascript">
    function initSwiper(){
    const swiper =new Swiper("<f:format.raw>#c{uid}-swiper</f:format.raw>", {
    a11y: {
    prevSlideMessage: '<f:translate key="{locallang}:fe.gf_carousel.prev" />',
    nextSlideMessage: '<f:translate key="{locallang}:fe.gf_carousel.next" />',
    },
    slidesPerView: 1,
    spaceBetween: 10,
    
    // Navigation arrows
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
    },
    
    // And if we need scrollbar
    scrollbar: {
    el: '.swiper-scrollbar',
    },
    
    breakpoints: {
    0: {
    slidesPerView: 1,
    spaceBetween: 15,
    },
    480: {
    slidesPerView: 1,
    spaceBetween: 20,
    },
    568: {
    slidesPerView: 2,
    spaceBetween: 20,
    },
    1024: {
    slidesPerView: 3,
    spaceBetween: 20,
    },
    1200: {
    slidesPerView: 4,
    spaceBetween: 48,
    },
    },
    });
    }
    window.addEventListener('DOMContentLoaded', initSwiper);
</f:asset.script>

<div id="c{uid}" class="gf-columnizercolumns type-{f:if(condition:gf_sitepackage_type,then:gf_sitepackage_type) -> f:format.case(mode:'lower')} colpos-{colPos} {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)} {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)} {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)} {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)}">
    <div id="c{uid}-swiper" class="swiper">
        <div class="swiper-wrapper">
            <f:for each="{content}" as="record" iteration="iterator">
                <div class="swiper-slide">
                    <f:format.raw>{record.renderedContent}</f:format.raw>
                </div>
            </f:for>
        </div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev ms-n3 ms-md-n9"></div>
        <div class="swiper-button-next me-n3 me-md-n9"></div>
        
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>


<f:section name="OLD">
<div id="c{uid}" class="gf-columnizercolumns type-{f:if(condition:gf_sitepackage_type,then:gf_sitepackage_type) -> f:format.case(mode:'lower')} colpos-{colPos} {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)} {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)} {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)} {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)}">
    <div class="container-fluid">
        <div id="carousel-{pid}-{uid}" class="carousel slide">
            <div class="carousel-inner">
                
                <f:variable name="count" value="{content -> f:count()}" />
                <f:variable name="division" value="{v:math.division(a:24,b:gf_sitepackage_columnwidths)}" />
                
                <f:render section="Items" arguments="{_all}" />
            </div>
            <f:if condition="{count}>{division}">
                <button class="carousel-control-prev btn btn-primary rounded-0" type="button" data-bs-target="#carousel-{pid}-{uid}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{f:translate(extensionName:'gf_sitepackage',key:'{locallang}:fe.gf_carousel.prev')}</span>
                </button>
                <button class="carousel-control-next btn btn-primary rounded-0" type="button" data-bs-target="#carousel-{pid}-{uid}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{f:translate(extensionName:'gf_sitepackage',key:'{locallang}:fe.gf_carousel.next')}</span>
                </button>
            </f:if>
        </div>
    </div>
</div>
</f:section>

<f:section name="Items">
    <div class="carousel-item active">
        <div class="row {f:if(condition:gf_sitepackage_gutter_x, then:gf_sitepackage_gutter_x)}">
            <f:for each="{content}" as="record" iteration="iterator">
                <f:if condition="{iterator.cycle} % {division}">
                    <f:then>
                        <div class="col-sm-{gf_sitepackage_columnwidths} d-flex">
                            <f:format.raw>{record.renderedContent}</f:format.raw>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="col-sm-{gf_sitepackage_columnwidths} d-flex">
                            <f:format.raw>{record.renderedContent}</f:format.raw>
                        </div>
                        <f:if condition="{iterator.isLast} != 1">
                            <f:then>
                                </div></div><div class="carousel-item"><div class="d-flex">
                            </f:then>
                        </f:if>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </div>
</f:section>