<footer class="py-{settings.defaultFooterPaddingY} bg-primary">
    <div class="container-fluid px-{settings.defaultFooterPaddingX}">
        <div class="row justify-content-sm-end">
            <div class="col-auto">
                <f:if condition="{gfaddresses.0.data.tx_mask_logo}">
                    <f:image
                        src="{gfaddresses.0.data.tx_mask_logo}"
                        treatIdAsReference="1"
                        loading="lazy"
                        class="me-2 mb-3"
                    />
                </f:if>
            </div>
            <div class="col-auto">
                <h6>{gfaddresses.0.data.tx_mask_name}</h6>
                <address>
                    {gfaddresses.0.data.tx_mask_street} {gfaddresses.0.data.tx_mask_street_nr}<br>
                    {gfaddresses.0.data.tx_mask_zip} {gfaddresses.0.data.tx_mask_city}<br>
                    <gf:link.urlscheme
                        number="{gfaddresses.0.data.tx_mask_phone}"
                        class="" /><br>
                    <gf:link.urlscheme
                        number="{gfaddresses.0.data.tx_mask_fax}"
                        scheme="fax:"
                        class="" /><br>
                    <f:link.email
                        email="{gfaddresses.0.data.tx_mask_email}" />
                </address>
                
                <f:render partial="NavFooter" arguments="{navFooter:navFooter}" />
                
                <p>© {f:format.date(date:'now',format:'Y')} {gfaddresses.0.data.tx_mask_name}</p>
            </div>
        </div>
    </div>
</footer>
<button id="to-top" class="to-top btn btn-primary shadow-sm rounded-circle"></button>