<f:alias map="{
        logo:       gfaddresses.0.data.tx_mask_logo,
        name:       gfaddresses.0.data.tx_mask_name,
        claim:      gfaddresses.0.data.tx_mask_claim,
        phone:      gfaddresses.0.data.tx_mask_phone,
        fax:        gfaddresses.0.data.tx_mask_fax,
        street:     gfaddresses.0.data.tx_mask_street,
        street_nr:  gfaddresses.0.data.tx_mask_street_nr,
        zip:        gfaddresses.0.data.tx_mask_zip,
        city:       gfaddresses.0.data.tx_mask_city,
        country:    gfaddresses.0.data.tx_mask_country,
        main:       gfaddresses.0.data.tx_mask_main,
        email:      gfaddresses.0.data.tx_mask_email,
        locallang: {mask:'LLL:EXT:gf_sitepackage/Resources/Private/Language/mask.xlf'}
}">
    
    <footer id="footer" class="py-5 bg-primary">
        <div class="container-fluid px-3 px-md-9">
            <div class="row justify-content-sm-end">
                <div class="col-lg-12">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid:settings.rootpageId, colPos: '10'}" />
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <f:if condition="{logo}">
                        <f:image
                            src="{logo}"
                            treatIdAsReference="1"
                            title="{name}"
                            loading="lazy"
                            class="logo img-fluid me-2 mb-3"
                        />
                    </f:if>
                </div>
                <div class="col-lg-6">
                    <h6>{name}</h6>
                    <address>
                        {street} {street_nr}<br>
                        {zip} {city}<br>
                        <gf:link.urlscheme
                            number="{phone}"
                            aria="{label: '{f:translate(key:\'{locallang.mask}:tx_mask_gf_addresses.tx_mask_phone\')}'}"
                            class="" /><br>
                        <gf:link.urlscheme
                            number="{fax}"
                            scheme="fax:"
                            aria="{label: '{f:translate(key:\'{locallang.mask}:tx_mask_gf_addresses.tx_mask_fax\')}'}"
                            class="" /><br>
                        <f:link.email
                            email="{email}"
                            aria="{label: '{f:translate(key:\'{locallang.mask}:tx_mask_gf_addresses.tx_mask_email\')}'}" />
                    </address>
                    
                    <f:render partial="NavFooter" arguments="{navFooter:navFooter}" />
                    
                    <p>© {f:format.date(date:'now',format:'Y')} {name}</p>
                </div>
            </div>
        </div>
    </footer>
    <button id="to-top" class="to-top btn btn-primary shadow-sm rounded-circle" aria-label="{f:translate(extensionName:'gf_sitepackage',key:'totop')}'}"></button>
</f:alias>