<header id="header" class="sticky-top">
    <div class="container-fluid bg-primary">
        <div class="row bg-light px-3 px-md-9 py-1">
            <div class="col">
                <f:render partial="NavLang" section="Header" arguments="{_all}" />
            </div>
        </div>
        <f:render partial="NavMain" arguments="{_all}" />
    </div>
    
    <f:if condition="{navSection}">
        <f:render partial="NavSection" arguments="{navSection:navSection}" />
    </f:if>
    
    <div id="nav-x" class="position-relative">
        <f:for each="{navMain}" as="navitemlvl1" iteration="iterator">
            <f:if condition="!{navitemlvl1.spacer}">
                <f:if condition="{navitemlvl1.children}">
                    <div class="container-fluid level-2 collapse desktop " id="nav-main-{navitemlvl1.data.uid}">
                        <div class="row bg-light px-3 px-md-9 pt-5 pb-5">
                            <f:for each="{navitemlvl1.children}" as="navitemlvl2">
                                <div class="col-sm-12 col-md-8 col-lg-6 col-xxl-4 mb-5">
                                    <div class="card" style="">
                                        <f:if condition="{navitemlvl2.files.0}">
                                            <f:then>
                                                <f:image
                                                    image="{navitemlvl2.files.0}"
                                                    title="{navitemlvl2.title}"
                                                    loading="lazy"
                                                    class="card-img-top img-fluid"
                                                />
                                            </f:then>
                                            <f:else>
                                                <f:image
                                                    src="/fileadmin/templates/images/DALLE2.png"
                                                    title="{navitemlvl2.title}"
                                                    loading="lazy"
                                                    class="card-img-top img-fluid"
                                                />
                                            </f:else>
                                        </f:if>
                                        <div class="card-body">
                                            <h5 class="card-title">{navitemlvl2.title}</h5>
                                            <f:if condition="{navitemlvl2.data.subtitle}">
                                                <h6 class="card-subtitle mb-2 text-muted">{navitemlvl2.data.subtitle}</h6>
                                            </f:if>
                                            <f:if condition="{navitemlvl2.data.description}">
                                                <p class="card-text">{navitemlvl2.data.description}</p>
                                            </f:if>
                                        </div>
                                        <f:if condition="{navitemlvl2.children}">
                                            <ul class="list-group list-group-flush">
                                                <f:for each="{navitemlvl2.children}" as="navitemlvl3">
                                                    <f:link.page
                                                        pageUid="{navitemlvl3.data.uid}"
                                                        aria="{
                current:'{f:if(condition:navitemlvl3.active,then:\'page\')}',
                label: navitemlvl3.title
                }"
                                                        class="list-group-item list-group-item-action"
                                                    >
                                                        {navitemlvl3.title}
                                                    </f:link.page>
                                                </f:for>
                                            </ul>
                                        </f:if>
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </div>
                </f:if>
            </f:if>
        </f:for>
    </div>
</header>

