<nav class="nav nav-sticky flex-column end-0 bg-tertiary rounded-start-4 px-1 py-3">
    <f:link.external
        uri="https://cemo.app"
        target="_blank"
        aria="{label: '{f:translate(key: \'nav_sticky.link_app\', extensionName: \'gf_sitepackage\')}'}"
        rel="noreferrer"
        id=""
        class="nav-link"
    >
        <f:image
            src="{settings.pathPublic}Icons/Page/CEMO_App.svg"
            treatIdAsReference="1"
            absolute="1"
            width="40"
            title="{f:translate(key: 'nav_sticky.link_app', extensionName:'gf_sitepackage')}"
            loading="lazy"
            class="img-fluid"
        />
    </f:link.external>
    <f:link.external
        uri="https://online.fliphtml5.com/aqzzd/qfic/"
        target="_blank"
        aria="{label: '{f:translate(key: \'nav_sticky.link_catalog\', extensionName: \'gf_sitepackage\')}'}"
        rel="noreferrer"
        id=""
        class="nav-link"
    >
        <f:image
            src="fileadmin/assets/CEMO_Katalogtitel_2022.webp"
            treatIdAsReference="1"
            absolute="1"
            width="40"
            title="{f:translate(key: 'nav_sticky.link_catalog', extensionName:'gf_sitepackage')}"
            loading="lazy"
            class="img-fluid"
        />
    </f:link.external>
</nav>