
<f:section name="Header">
    <f:if condition="{navLang}">
        <div id="nav-lang" class="nav dropdown justify-content-end">
            <f:for each="{navLang}" as="navitem" iteration="iterator">
                <f:if condition="{navitem.active}">
                    <button class="btn text-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{f:translate(extensionName:'gf_sitepackage',key:'fe.navLang')}">
                        <f:cObject typoscriptObjectPath="lib.inlineSvg" data="{src: '{settings.pathPublic}Icons/Navlang/nav_lang.svg',width: 25, height: 25}" />
                        {navitem.twoLetterIsoCode -> f:format.case(mode:'upper')}
                    </button>
                </f:if>
            </f:for>
            <ul class="dropdown-menu">
                <f:for each="{navLang}" as="navitem" iteration="iterator">
                    <f:if condition="!{navitem.active}">
                        <li>
                            <f:link.page
                                language="{navitem.languageId}"
                                absolute="1"
                                aria="{label: '{navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:\'upper\')})'}"
                                class="dropdown-item"
                            >
                                {navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:'upper')})
                            </f:link.page>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </div>
    </f:if>
</f:section>

<f:section name="Footer">
</f:section>

<f:comment>
</f:comment>