
<f:section name="Header">
    <f:if condition="{navLang}">
        <ul id="nav-lang" class="nav dropdown justify-content-end">
            <f:for each="{navLang}" as="navitem" iteration="iterator">
                <f:if condition="{navitem.active} && {navitem.available}">
                    <button class="btn nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:\'upper\')})">
                        <f:image
                            src="{settings.pathPublic}Icons/Page/Sprachwechsel_{navitem.twoLetterIsoCode -> f:format.case(mode:'upper')}.svg"
                            treatIdAsReference="1"
                            absolute="1"
                            width="24"
                            loading="lazy"
                            class="img-fluid"
                        />
                    </button>
                </f:if>
            </f:for>
            <ul class="dropdown-menu" style="min-width:175px;">
                <f:for each="{navLang}" as="navitem" iteration="iterator">
                    <li class="">
                        <f:if condition="!{navitem.active} && {navitem.available}">
                            <f:link.page
                                language="{navitem.languageId}"
                                absolute="1"
                                aria="{label: '{navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:\'upper\')})'}"
                                class="dropdown-item"
                            >
                                <f:image
                                    src="{settings.pathPublic}Icons/Page/Sprachwechsel_{navitem.twoLetterIsoCode -> f:format.case(mode:'upper')}.svg"
                                    treatIdAsReference="1"
                                    absolute="1"
                                    width="24"
                                    loading="lazy"
                                    class="img-fluid"
                                /> <span> {navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:'upper')})</span>
                            </f:link.page>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </ul>
    </f:if>
</f:section>

<f:section name="Footer">
</f:section>

<f:comment>
    <ul class="dropdown-menu">
        <f:for each="{navLang}" as="navitem" iteration="iterator">
            <f:if condition="!{navitem.active}">
                <li>
                    <f:link.page
                        language="{navitem.languageId}"
                        absolute="1"
                        aria="{label: '{navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:\'upper\')})'}"
                        class="dropdown-item"
                    >
                        {navitem.navigationTitle} ({navitem.twoLetterIsoCode -> f:format.case(mode:'upper')})
                    </f:link.page>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:comment>