<f:section name="Header">
    <ul class="nav nav-social nav-social-header px-3 d-flex justify-content-end align-items-center">
        <f:if condition="{lang}=='fr'">
            <f:then>
                <li>
                    <f:link.typolink
                            parameter="https://www.facebook.com/cemofrance"
                            target="_blank"
                            class="nav-social-facebook d-block ps-2"
                            additionalAttributes="{'aria-label':'Facebook'}">
                        <f:render section="Facebook" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://www.linkedin.com/company/cemo-france/"
                            target="_blank"
                            class="nav-social-linkedin d-block ps-2"
                            additionalAttributes="{'aria-label':'Linkedin'}">
                        <f:render section="Linkedin" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://www.youtube.com/channel/UCq422Gg7p-otX8hK_NYXKPg"
                            target="_blank"
                            class="nav-social-youtube d-block ps-2"
                            additionalAttributes="{'aria-label':'YouTube'}">
                        <f:render section="Youtube" />
                    </f:link.typolink>
                </li>
            </f:then>
            <f:else>
                <li>
                    <f:link.typolink
                            parameter="https://www.facebook.com/cemo.gmbh/"
                            target="_blank"
                            class="nav-social-facebook d-block ps-2"
                            additionalAttributes="{'aria-label':'Facebook'}">
                        <f:render section="Facebook" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://de.linkedin.com/company/cemo-safe-storage"
                            target="_blank"
                            class="nav-social-linkedin d-block ps-2"
                            additionalAttributes="{'aria-label':'Linkedin'}">
                        <f:render section="Linkedin" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://www.youtube.com/channel/UC6xWkMlNvuOlchYAUehQ-ug"
                            target="_blank"
                            class="nav-social-youtube d-block ps-2"
                            additionalAttributes="{'aria-label':'YouTube'}">
                        <f:render section="Youtube" />
                    </f:link.typolink>
                </li>
            </f:else>
        </f:if>
    </ul>
</f:section>
<f:section name="Footer">
    <ul
            class="nav nav-social nav-social-footer px-3 d-flex justify-content-center align-items-center">
        <f:if condition="{lang}=='fr'">
            <f:then>
                <li>
                    <f:link.typolink
                            parameter="https://www.facebook.com/cemofrance"
                            target="_blank"
                            class="nav-social-facebook d-block ps-2"
                            additionalAttributes="{'aria-label':'Facebook'}">
                        <f:render section="Facebook" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://www.linkedin.com/company/cemo-france/"
                            target="_blank"
                            class="nav-social-linkedin d-block ps-2"
                            additionalAttributes="{'aria-label':'Linkedin'}">
                        <f:render section="Linkedin" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://www.youtube.com/channel/UCq422Gg7p-otX8hK_NYXKPg"
                            target="_blank"
                            class="nav-social-youtube d-block ps-2"
                            additionalAttributes="{'aria-label':'YouTube'}">
                        <f:render section="Youtube" />
                    </f:link.typolink>
                </li>
            </f:then>
            <f:else>
                <li>
                    <f:link.typolink
                            parameter="https://www.facebook.com/cemo.gmbh/"
                            target="_blank"
                            class="nav-social-facebook d-block ps-2"
                            additionalAttributes="{'aria-label':'Facebook'}">
                        <f:render section="Facebook" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://de.linkedin.com/company/cemo-safe-storage"
                            target="_blank"
                            class="nav-social-linkedin d-block ps-2"
                            additionalAttributes="{'aria-label':'Linkedin'}">
                        <f:render section="Linkedin" />
                    </f:link.typolink>
                </li>
                <li>
                    <f:link.typolink
                            parameter="https://www.youtube.com/channel/UC6xWkMlNvuOlchYAUehQ-ug"
                            target="_blank"
                            class="nav-social-youtube d-block ps-2"
                            additionalAttributes="{'aria-label':'YouTube'}">
                        <f:render section="Youtube" />
                    </f:link.typolink>
                </li>
            </f:else>
        </f:if>
    </ul>
</f:section>

<f:section name="Facebook">
    <gf:inlineSvg
            src="EXT:gf_sitepackage/Resources/Public/Icons/Social/facebook.svg"
            class="nav-social-facebook"
    ></gf:inlineSvg>
</f:section>

<f:section name="Linkedin">
    <gf:inlineSvg
            src="EXT:gf_sitepackage/Resources/Public/Icons/Social/linkedin.svg"
            class="nav-social-linkedin"
    ></gf:inlineSvg>
</f:section>

<f:section name="Youtube">
    <gf:inlineSvg
            src="EXT:gf_sitepackage/Resources/Public/Icons/Social/youtube.svg"
            class="nav-social-youtube"
    ></gf:inlineSvg>
</f:section>