@import "bootstrap";
@import "gf_ce";
@import "gf_columnizercolumns";
@import "nav";
@import "swiper";
@import "powermail";

.ce-headline-center{
    text-align: center;
}
.ce-headline-right{
    text-align: right;
}
.ce-headline-left{
    text-align: left;
}

html{
    &.attached {
        header{
            .navbar{
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                .navbar-brand{
                    img{
                        &.logo{
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
    header{
        transition: all 0.25s ease-in;
        .navbar{
            transition: all 0.25s ease-in;
            .navbar-brand{
                img{
                }
            }
            @include media-breakpoint-between(sm,lg) {
                .navbar-text{
                    flex: 1;
                }
            }
        }
    }
}
img{
    &.logo{
        width: 158px;
        transition: all 0.25s ease-in;
    }
}
#to-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: $zindex-modal;
    @include caret(up);
    opacity: 0.0;
    transition: all 0.5s ease-in;
    &.show{
        opacity: 1.0;
    }
}

footer{
    *,
    a.nav-link{
        color: $white;
        font-size: 1rem;
    }
    a{
        text-decoration: none;
        &.nav-link{
            padding: 0;
        }
    }
}

.nav-link {
    &:hover,
    &:focus,
    &.active,
    &.show {
        //font-size: var(--#{$prefix}navbar-hover-font-size);
        font-weight: bold;
    }
}
//
//.dropdown-menu {
//    .dropdown-item{
//        &:hover{
//            font-weight: bold;
//            color: $primary;
//        }
//    }
//}

svg{
    &#Ebene_2{
        .cls-1 {
            fill: $white;
        }
    }
}


