@import "bootstrap";

.ce-headline-center{
    text-align: center;
}
.ce-headline-right{
    text-align: right;
}
.ce-headline-left{
    text-align: left;
}

html{
    &.attached {
        header{
            .navbar{
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                .navbar-brand{
                    img{
                        &.logo{
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
    header{
        transition: all 0.25s ease-in;
        .navbar{
            transition: all 0.25s ease-in;
            .navbar-brand{
                img{
                }
            }
            @include media-breakpoint-between(sm,lg) {
                .navbar-text{
                    flex: 1;
                }
            }
        }
    }
}
img{
    &.logo{
        width: 158px;
        transition: all 0.25s ease-in;
    }
}
#to-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: $zindex-modal;
    @include caret(up);
    opacity: 0.0;
    transition: all 0.5s ease-in;
    &.show{
        opacity: 1.0;
    }
}

footer{
    *,
    a.nav-link{
        color: $white;
        font-size: 1rem;
    }
    a{
        text-decoration: none;
        &.nav-link{
            padding: 0;
        }
    }
}

.nav-link {
    &:hover,
    &:focus,
    &.active,
    &.show {
        //font-size: var(--#{$prefix}navbar-hover-font-size);
        font-weight: bold;
    }
}
#nav-breadcrumb {
    .breadcrumb {
        --#{$prefix}breadcrumb-margin-top: #{$breadcrumb-margin-top};
        margin-top: var(--bs-breadcrumb-margin-top);
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        .breadcrumb-item{
            position: relative;
            margin-right: 4px;
            &:not(.pretext){
                padding-left: 11px;
                a{
                    text-decoration: none;
                    color: $gray-500;
                    &:hover{
                        color: $primary;
                    }
                }
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 0;
                    width: 0;
                    margin: auto;
                    border-left: 7px solid $gray-500;
                    border-bottom: 4px solid transparent;
                    border-top: 4px solid transparent;
                }
                &.active{
                    color: $primary;
                    &:before{
                        border-left-color: $gray-800;
                    }
                }
            }
        }
    }
}
//
//.dropdown-menu {
//    .dropdown-item{
//        &:hover{
//            font-weight: bold;
//            color: $primary;
//        }
//    }
//}

#nav-main{
    > ul{
        &.navbar-nav{
            li{
                &.nav-item{
                    a{
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    div.level-2{
        min-width: $modal-sm;
        background-color: $dropdown-bg;
        padding: $dropdown-padding-x $dropdown-padding-y;

        @include media-breakpoint-up(lg) {
            position: absolute;
        }
        a{
            &.nav-link{
                padding-bottom: 0;
                color: $dark;
            }
        }
    }
    div.level-3{
        a{
            &.nav-link{
                padding-top: 0;
                font-size: $font-size-base;
            }
        }
    }
}
#nav-lang{
    button{
        border: none;
    }
}
.nav-section-group{
    button{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .nav-section{
        position: absolute;
        left: 0;
        border-radius: 0;
        transition: all 0.5s ease-in;
        pointer-events: none;
        button{
            &.list-group-item{
                border-top-right-radius: $border-radius-xl;
                border-bottom-right-radius: $border-radius-xl;
            }
        }
        .list-group-item{
            position: relative;
            left:calc(-100% + 30px);
            color: transparent;
            transition: all 0.25s ease-in;
            opacity: 0.7;
            box-shadow: 0 1rem 3rem rgba($black, .5);
            pointer-events: auto;
            &:hover,
            &.active{
                left: 0;
                color: var(--bs-list-group-color);
                opacity: 1;
            }
        }
    }
}

svg{
    &#Ebene_2{
        .cls-1 {
            fill: $white;
        }
    }
}


.gf-imagetext{
    position: relative;
    .col-image,
    .col-text{
        //position: relative;
    }
    .col-text{
        h1,h2,h3,h4,h5,h6,p{
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-all;
            hyphens: auto;
        }
    }
    &.imageorient-0,
    &.imageorient-1,
    &.imageorient-2,
    &.imageorient-8,
    &.imageorient-9,
    &.imageorient-10{
        .cols{
            flex-direction: column !important;
        }
    }
    /* Above */
    &.imageorient-0,
    &.imageorient-1,
    &.imageorient-2,
    &.imageorient-26{
        .cols{
            .col-image{
                order: 1;
            }
            .col-text{
                order: 2;
            }
        }
    }
    /* Below */
    &.imageorient-8,
    &.imageorient-9,
    &.imageorient-10,
    &.imageorient-25{
        .cols{
            .col-image{
                order: 2;
            }
            .col-text{
                order: 1;
            }
        }
    }
    /* Center */
    &.imageorient-0,
    &.imageorient-8{
        .col-image{
            display: flex;
            justify-content: center;
        }
    }
    /* Right */
    &.imageorient-1,
    &.imageorient-9{
        .col-image{
            display: flex;
            justify-content: right;
        }
    }
    /* Left */
    &.imageorient-2,
    &.imageorient-10{
        .col-image{
            display: flex;
            justify-content: left;
        }
    }
}

.gf-ce{
    &:not(.colpos-1){
        padding-top: nth(map-values($spacers), 5);
        padding-bottom: nth(map-values($spacers), 5);
    }
    &.gf-assets{
        position: relative;
        &:not(.widemode){
            .swiper{
                .swiper-slide{
                    &.swiper-slide-next,
                    &.swiper-slide-active{
                        .swiper-caption{
                            transform: translateY(-100px);
                        }
                    }
                }
                .swiper-caption{
                    display: block;
                    position: absolute;
                    bottom: -100px;
                    left: 0;
                    right: 0;
                    padding: map-get($spacers, 3) map-get($spacers, 3)  0 map-get($spacers, 3);
                    background-color: rgba($primary,0.85);
                    transition: all 0.25s ease-in;
                    *{
                        color: $light;
                    }
                    h3{
                        font-size: $h3-font-size;
                        font-size: 2vw;
                        line-height: $line-height-xs;
                    }
                    p{
                        font-size: $font-size-base;
                        font-size: 1dvw;
                    }
                }
            }
        }
        &.widemode{
            .swiper{
                .swiper-caption{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: map-get($spacers, 3) map-get($spacers, 3);
                    @include media-breakpoint-up(md) {
                        padding: map-get($spacers, 9) map-get($spacers, 9);
                    }
                    *{
                        color: $light;
                    }
                    h3{
                        font-size: $font-size-base * 8;
                        font-size: 5.85dvw;
                        line-height: $line-height-xs;
                        letter-spacing: .024em;
                    }
                    p{
                        font-size: $font-size-base * 3.625;
                        font-size: 2.65dvw;
                        letter-spacing: .028em;
                    }
                }
            }
        }
    }
}
.swiper{
    position: static !important;
    .swiper-slide{
        height: auto;
        .swiper-slide-img{
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        color: $gray-400;
        &:hover{
            color: $gray-800;
        }
        &.swiper-button-disabled{
            visibility: hidden;
        }
    }
    .swiper-button-prev{
        left: 20px;
    }
    .swiper-button-next{
        right: 20px;
    }
    .swiper-button-next{
    }
    .swiper-pagination{
        position: relative !important;
        left: unset !important;
        bottom: 32px !important;
        transition: unset !important;
        .swiper-pagination-bullet{
            width: 13px;
            height: 13px;
            background-color: $light;
            opacity: 1;
            &.swiper-pagination-bullet-active{
                background-color: $primary;
            }
        }
    }
    .swiper-scrollbar{
        position: relative !important;
        left: unset !important;
        width: 100% !important;
    }
    .swiper-caption{
    }
}

.gf-columnizercolumns{
    &.type-slidercontents{
        position: relative;
        .swiper{
            .gf-ce{
                height: 100%;
                &:hover{
                    background-color: $primary !important;
                    .col-text{
                        h1,h2,h3,h4,h5,h6,p{
                            color: $light !important;
                        }
                        .btn{
                            background-color: var(--bs-btn-hover-bg);
                            &:hover{
                                background-color: $info;
                            }
                        }
                    }
                }
                .cols{
                    height: 100%;
                    .col-text{
                        flex: 1 1 auto !important;
                        .wrap-text{
                            display: flex;
                            flex-direction: column;
                            align-items: stretch;
                            height: 100%;
                            p{
                                flex: 1 1 auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tx-powermail{
    .powermail_confirmation{
        .powermail_all_label{
        }
        .powermail_all_label{

        }
    }
}

