<f:if condition="{data.tx_mask_gf_addresses}">
    <ul>
        <f:for each="{data.tx_mask_gf_addresses}" as="data_item">
            <li>
                <f:if condition="{data_item.tx_mask_name}">
                    {data_item.tx_mask_name}
                </f:if>
                <f:if condition="{data_item.tx_mask_claim}">
                    {data_item.tx_mask_claim}
                </f:if>
                <f:if condition="{data_item.tx_mask_logo}">
                    <f:link.typolink parameter="{data_item.tx_mask_logo}"></f:link.typolink>
                </f:if>

                <f:if condition="{data_item.tx_mask_street}">
                    {data_item.tx_mask_street}
                </f:if>
                <f:if condition="{data_item.tx_mask_street_nr}">
                    {data_item.tx_mask_street_nr}
                </f:if>
                <f:if condition="{data_item.tx_mask_zip}">
                    {data_item.tx_mask_zip}
                </f:if>
                <f:if condition="{data_item.tx_mask_city}">
                    {data_item.tx_mask_city}
                </f:if>
                <f:if condition="{data_item.tx_mask_country}">
                    {data_item.tx_mask_country}
                </f:if>
                <f:if condition="{data_item.tx_mask_phone}">
                    {data_item.tx_mask_phone}
                </f:if>
                <f:if condition="{data_item.tx_mask_fax}">
                    {data_item.tx_mask_fax}
                </f:if>
                <f:if condition="{data_item.tx_mask_email}">
                    <f:link.email email="{data_item.tx_mask_email}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:if>
