{namespace gf=Gedankenfolger\GfSitepackage\ViewHelpers}
<f:spaceless>
    <f:alias map="{
    pid: data.pid,
    uid: data.uid,
    header: data.header,
    header_layout: data.header_layout,
    header_position: data.header_position,
    space_before_class: data.space_before_class,
    space_after_class: data.space_after_class,
    space_inner_before_class: data.space_inner_before_class,
    space_inner_after_class: data.space_inner_after_class,
    defaultSpaceBeforeType: settings.defaultSpaceBeforeType,
    defaultSpaceAfterType: settings.defaultSpaceAfterType,
    defaultSpaceInnerBeforeType: settings.defaultSpaceInnerBeforeType,
    defaultSpaceInnerAfterType: settings.defaultSpaceInnerAfterType,
    gfaddresses: gfaddresses,
}">
        <div
            id="c{uid}"
            class="
        gf-ce gf-address-list
        colpos-{colPos}
        {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)}
        {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)}
        {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)}
        {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)}
        "
        >
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-xsm-2 row-cols-sm-3 row-cols-md-4 g-4 cols">
                    <f:for each="{gfaddresses}" as="address">
                        <f:render section="Card" arguments="{address:address}" />
                    </f:for>
                </div>
            </div>
        </div>
    </f:alias>
</f:spaceless>

<f:section name="Card">
    <f:alias map="{
        logo:       address.data.tx_mask_logo,
        name:       address.data.tx_mask_name,
        claim:      address.data.tx_mask_claim,
        phone:      address.data.tx_mask_phone,
        fax:        address.data.tx_mask_fax,
        street:     address.data.tx_mask_street,
        street_nr:  address.data.tx_mask_street_nr,
        zip:        address.data.tx_mask_zip,
        city:       address.data.tx_mask_city,
        country:    address.data.tx_mask_country,
        main:       address.data.tx_mask_main,
        email:      address.data.tx_mask_email
    }">
        <div class="col">
            <div class="card mb-3 bg-primary text-light">
                <div class="card-header">
                    <f:image
                        src="{logo}"
                        treatIdAsReference="1"
                        loading="lazy"
                        class="card-img-top img-fluid mt-3"
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title">{name}</h5>
                    <p class="card-text">
                        {street} {street_nr}<br>
                        {zip} {city}<br>
                    </p>
                </div>
                <div class="list-group list-group-flush">
                    <gf:link.urlscheme
                        number="{phone}"
                        class="list-group-item list-group-item-action list-group-item-light" />
                    <gf:link.urlscheme
                        number="{fax}"
                        scheme="fax:"
                        class="list-group-item list-group-item-action list-group-item-light" />
                    <f:link.email
                        email="{email}"
                        class="list-group-item list-group-item-action list-group-item-light" />
                </div>
            </div>
        </div>
    </f:alias>
</f:section>