<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:gf="http://typo3.org/ns/Gedankenfolger/GfSitepackage/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:spaceless>
        <f:alias map="{
            pid: data.pid,
            uid: data.uid,
            colPos: data.colPos,
            header: data.header,
            apitype: data.tx_mask_gf_google_maps_conf_apitype,
            zoom: data.tx_mask_gf_google_maps_conf_zoom,
            maptype: data.tx_mask_gf_google_maps_conf_maptype,
            customicon: data.tx_mask_gf_google_maps_conf_customicon,
            space_before_class: data.space_before_class,
            space_after_class: data.space_after_class,
            space_inner_before_class: data.space_inner_before_class,
            space_inner_after_class: data.space_inner_after_class,
            defaultSpaceBeforeType: settings.defaultSpaceBeforeType,
            defaultSpaceAfterType: settings.defaultSpaceAfterType,
            defaultSpaceInnerBeforeType: settings.defaultSpaceInnerBeforeType,
            defaultSpaceInnerAfterType: settings.defaultSpaceInnerAfterType,
            logo:       data.tx_mask_gf_addresses_addresses_items.0.tx_mask_logo,
            name:       data.tx_mask_gf_addresses_addresses_items.0.tx_mask_name,
            claim:      data.tx_mask_gf_addresses_addresses_items.0.tx_mask_claim,
            phone:      data.tx_mask_gf_addresses_addresses_items.0.tx_mask_phone,
            fax:        data.tx_mask_gf_addresses_addresses_items.0.tx_mask_fax,
            street:     data.tx_mask_gf_addresses_addresses_items.0.tx_mask_street,
            street_nr:  data.tx_mask_gf_addresses_addresses_items.0.tx_mask_street_nr,
            zip:        data.tx_mask_gf_addresses_addresses_items.0.tx_mask_zip,
            city:       data.tx_mask_gf_addresses_addresses_items.0.tx_mask_city,
            country:    data.tx_mask_gf_addresses_addresses_items.0.tx_mask_country,
            main:       data.tx_mask_gf_addresses_addresses_items.0.tx_mask_main,
            email:      data.tx_mask_gf_addresses_addresses_items.0.tx_mask_email,
            locallang: {mask:'LLL:EXT:gf_sitepackage/Resources/Private/Language/mask.xlf'}
        }">
            <div id="c{uid}" class="gf-ce gf-google-maps colpos-{colPos} {f:if(condition:class_text_color,then:class_text_color,else:defaultTextClass)} {f:if(condition:class_background,then:class_background,else:defaultBackgroundClass)} {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)} {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)} {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)} {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)}">
                <f:if condition="{apitype}=='embed'">
                    <f:then>
                        <f:render section="Embed" arguments="{
                        uid:uid,
                        apikey:settings.apikey,
                        apiurl:'https://www.google.com/maps/embed/v1/search',
                        query:'{name -> f:format.urlencode()}',
                        language:language.twoLetterIsoCode,
                        zoom:zoom,
                        maptype:maptype,
                        locallang:locallang
                        }"
                        />
                    </f:then>
                    <f:else>
                        <f:render section="Static" arguments="{
                        apikey:settings.apikey,
                        apiurl:'https://maps.googleapis.com/maps/api/staticmap',
                        query:'{name -> f:format.urlencode()}',
                        name:name,
                        street:street,
                        street_nr:street_nr,
                        zip:zip,
                        city:city,
                        language:language.twoLetterIsoCode,
                        zoom:zoom,
                        maptype:maptype,
                        customicon:customicon,
                        locallang:locallang
                        }"
                        />
                    </f:else>
                </f:if>
            </div>
        </f:alias>
    </f:spaceless>
</html>

<f:section name="Static">
    <f:if condition="{customicon}">
        <f:then>
            <img src="{apiurl}?zoom={zoom}&size=400x400&key={apikey}&maptype={maptype}&language={language}&markers=anchor:bottom|icon:{f:uri.image(src:customicon,absolute:1)}|{query}" />
        </f:then>
        <f:else>
            <img src="{apiurl}?zoom={zoom}&size=400x400&key={apikey}&maptype={maptype}&language={language}&markers=size:mid|color:red|{query}" />
        </f:else>
    </f:if>
    <form name="search_route" method="get" action="https://maps.google.de/" target="_blank" accept-charset="UTF-8">
        <input name="daddr" type="hidden" id="daddr" value="{name}, {street} {street_nr}, {zip} {city}">
        <input name="hl" type="hidden" id="hl" value="{language}">
        <div class="input-group mb-3">
            <input name="saddr" type="text" id="saddr" placeholder="{f:translate(key:'{locallang.mask}:gf_google_maps.youraddress')}" aria-label="{f:translate(key:'{locallang.mask}:gf_google_maps.youraddress')}" class="form-control">
            <input type="submit" name="Submit" value="{f:translate(key:'{locallang.mask}:gf_google_maps.submit')}" class="btn btn-primary">
        </div>
    </form>
</f:section>

<f:section name="Embed">
    <script>
    let uid = '<f:format.raw>{uid}</f:format.raw>';
    let apikey = '<f:format.raw>{apikey}</f:format.raw>';
    let iframe = document.createElement('iframe');
    let generatedUrl = new URL('<f:format.raw>{apiurl}</f:format.raw>');
    let query = '<f:format.raw>{query}</f:format.raw>';
    let language = '<f:format.raw>{language}</f:format.raw>';
    let zoom = '<f:format.raw>{zoom}</f:format.raw>';
    let maptype = '<f:format.raw>{maptype}</f:format.raw>';
    let parameter = {};

    if(apikey){
        parameter['key'] = apikey;
    }

    if(query){
        parameter['q'] = query;
    }

    if(language){
        parameter['language'] = language;
    }

    if(zoom){
        parameter['zoom'] = zoom;
    }

    if(maptype){
        parameter['maptype'] = maptype;
    }

    const searchParams = new URLSearchParams( parameter );
    generatedUrl.search = searchParams;
    iframe.src = generatedUrl.toString();
    iframe.setAttribute('width', '600');
    iframe.setAttribute('height', '450');
    iframe.setAttribute('allowfullscreen', '');
    iframe.setAttribute('loading', 'lazy');
    iframe.setAttribute('referrerpolicy', 'no-referrer-when-downgrade');
    document.getElementById('c' + uid).appendChild(iframe);
    
</script>
</f:section>