<f:spaceless>
    <f:alias map="{
        pid: data.pid,
        uid: data.uid,
        imageorient: data.imageorient,
        images: data.image,
        assets: data.assets,
        header: data.header,
        header_layout: data.header_layout,
        header_position: data.header_position,
        bodytext: data.bodytext,
        header_link: data.header_link,
        class_button: data.tx_mask_class_button,
        class_text: data.tx_mask_class_text,
        class_background: data.tx_mask_class_background,
        grid_width_image: data.tx_mask_grid_width_image,
        grid_width_text: data.tx_mask_grid_width_text,
        space_before_class: data.space_before_class,
        space_after_class: data.space_after_class,
        space_inner_before_class: data.space_inner_before_class,
        space_inner_after_class: data.space_inner_after_class,
        defaultSpaceBeforeType: settings.defaultSpaceBeforeType,
        defaultSpaceAfterType: settings.defaultSpaceAfterType,
        defaultSpaceInnerBeforeType: settings.defaultSpaceInnerBeforeType,
        defaultSpaceInnerAfterType: settings.defaultSpaceInnerAfterType,
        defaultButtonClass: settings.defaultButtonClass,
        defaultBackgroundClass: settings.defaultBackgroundClass,
        defaultTextClass: settings.defaultTextClass,
    }">
        <div id="c{uid}" class="gf-ce gf-imagetext imageorient-{imageorient} colpos-{colPos} {f:if(condition:class_text,then:class_text,else:defaultTextClass)} {f:if(condition:class_background,then:class_background,else:defaultBackgroundClass)} {f:if(condition:space_before_class,then:space_before_class,else:defaultSpaceBeforeType)} {f:if(condition:space_after_class,then:space_after_class,else:defaultSpaceAfterType)} {f:if(condition:space_inner_before_class,then:space_inner_before_class,else:defaultSpaceInnerBeforeType)} {f:if(condition:space_inner_after_class,then:space_inner_after_class,else:defaultSpaceInnerAfterType)}">
            <div class="container-fluid">
                <div class="row cols">
                    <f:if condition="{assets}">
                        <div class="col-sm-{grid_width_image} col-image">
                            <f:for each="{assets}" as="file">
                                <f:switch expression="{file.originalFile.properties.type}">
                                    <f:case value="2">
                                        <figure class="figure">
                                            <f:image
                                                image="{file}"
                                                loading="lazy"
                                                class="figure-img img-fluid" />
                                            <f:if condition="{file.description}">
                                                <figcaption class="figure-caption">{file.description}</figcaption>
                                            </f:if>
                                        </figure>
                                    </f:case>
                                    <f:case value="4">
                                        <figure class="figure w-100">
                                            <div class="ratio ratio-16x9">
                                                <f:media
                                                    class="figure-img img-fluid" file="{file}"
                                                    width="560"
                                                    height="315"
                                                    alt="{file.alternative}"
                                                    title="{file.title}"
                                                    additionalAttributes="{loading:'lazy'}"
                                                    additionalConfig="{settings.media.additionalConfig}" />
                                            </div>
                                            <f:if condition="{file.description}">
                                                <figcaption class="figure-caption position-relative d-inline-block">{file.description}</figcaption>
                                            </f:if>
                                        </figure>
                                    </f:case>
                                </f:switch>
                            </f:for>
                        </div>
                    </f:if>
                    <f:if condition="{header} || {bodytext} || {header_link}">
                        <div class="col-sm-{grid_width_text} col-text">
                            <f:if condition="{header}">
                                <f:render partial="Header" arguments="{
                            header: header,
                            layout: header_layout,
                            positionClass: '{f:if(condition: header_position, then: \'ce-headline-{header_position}\')}',
                            default: settings.defaultHeaderType}" />
                            </f:if>
                            <f:if condition="{bodytext}">
                                {bodytext -> f:format.html()}
                            </f:if>
                            <f:if condition="{header_link}">
                                <f:link.typolink
                                    parameter="{header_link}"
                                    class="btn {f:if(condition:class_button,then:class_button,else:defaultButtonClass)} stretched-link"
                                >
                                    <f:if condition="{typoLinkParts.title}">
                                        <f:then>
                                            {typoLinkParts.title}
                                        </f:then>
                                        <f:else>
                                            {f:translate(extensionName:'GfSitepackage',key:'fe.weitereinfos')}
                                        </f:else>
                                    </f:if>
                                </f:link.typolink>
                            </f:if>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </f:alias>

</f:spaceless>