<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="TYPO3\CMS\Backend\ViewHelpers"
    xmlns:gf="http://typo3.org/ns/Gedankenfolger/GfSitepackage/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:spaceless>
        
        <f:if condition="{data.tx_mask_gf_addresses}">
            <f:alias map="{
                pid: data.pid,
                uid: data.uid,
                colPos: data.colPos,
                gfaddresses: data.tx_mask_gf_addresses,
                space_before_class: data.space_before_class,
                space_after_class: data.space_after_class,
                space_inner_before_class: data.space_inner_before_class,
                space_inner_after_class: data.space_inner_after_class,
                defaultSpaceBeforeType: settings.defaultSpaceBeforeType,
                defaultSpaceAfterType: settings.defaultSpaceAfterType,
                defaultSpaceInnerBeforeType: settings.defaultSpaceInnerBeforeType,
                defaultSpaceInnerAfterType: settings.defaultSpaceInnerAfterType,
                LL: {mask:'LLL:EXT:gf_sitepackage/Resources/Private/Language/mask.xlf'}
            }">
                <f:asset.css identifier="gf_sitepackage_{pid}" href="EXT:gf_sitepackage/Resources/Public/Css/backend.css" />
                <div id="c{uid}" class="gf-ce gf-address">
                    <div class="container-fluid">
                        <div class="row card-group">
                            <f:for each="{gfaddresses}" as="address">
                                <f:if condition="{address.hidden}==0">
                                    <div class="card" aria-hidden="true">
                                        <div class="card-header p-0">
                                            <f:render partial="Toolbar" arguments="{table:'tx_mask_gf_addresses',pid:address.pid,uid:address.uid,tstamp:address.tstamp,crdate:address.crdate,showEditLink:1}" />
                                        </div>
                                        <f:image
                                            src="{address.tx_mask_logo}"
                                            treatIdAsReference="1"
                                            loading="lazy"
                                            class="card-img-top img-fluid mt-3"
                                        />
                                        <div class="card-body p-1 pb-3">
                                            <p class="card-text">
                                                {address.tx_mask_name}<br/>
                                                <gf:link.urlscheme
                                                    number="{address.tx_mask_phone}"
                                                    aria="{label: '{f:translate(key:\'{LL.mask}:tx_mask_gf_addresses.tx_mask_phone\')}'}"
                                                    class="" /><br>
                                                <gf:link.urlscheme
                                                    number="{address.tx_mask_fax}"
                                                    scheme="fax:"
                                                    aria="{label: '{f:translate(key:\'{LL.mask}:tx_mask_gf_addresses.tx_mask_fax\')}'}"
                                                    class="" /><br>
                                                <f:link.email
                                                    email="{address.tx_mask_email}"
                                                    aria="{label: '{f:translate(key:\'{LL.mask}:tx_mask_gf_addresses.tx_mask_email\')}'}" />
                                            </p>
                                        </div>
                                    </div>
                                </f:if>
                            </f:for>
                        </div>
                    </div>
                </div>
            </f:alias>
        </f:if>
    </f:spaceless>
</html>


<f:section name="asd">
    <f:if condition="{data.tx_mask_gf_addresses}">
        <ul>
            <f:for each="{data.tx_mask_gf_addresses}" as="data_item">
                <li>
                    <f:if condition="{data_item.tx_mask_name}">
                        {data_item.tx_mask_name}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_claim}">
                        {data_item.tx_mask_claim}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_logo}">
                        <f:link.typolink parameter="{data_item.tx_mask_logo}"></f:link.typolink>
                    </f:if>
                    
                    <f:if condition="{data_item.tx_mask_street}">
                        {data_item.tx_mask_street}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_street_nr}">
                        {data_item.tx_mask_street_nr}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_zip}">
                        {data_item.tx_mask_zip}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_city}">
                        {data_item.tx_mask_city}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_country}">
                        {data_item.tx_mask_country}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_phone}">
                        {data_item.tx_mask_phone}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_fax}">
                        {data_item.tx_mask_fax}
                    </f:if>
                    <f:if condition="{data_item.tx_mask_email}">
                        <f:link.email email="{data_item.tx_mask_email}"/>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>