<html xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers">
    {row.tx_mask_gf_columnizer_contents -> f:debug()}
    <f:for each="{data.tx_mask_gf_columnizer_contents}" as="data_item">
        <be:link.editRecord uid="{data_item.uid}" table="tt_content">
            <core:icon identifier="actions-open" size="small" /> Edit record
        </be:link.editRecord><br>
    </f:for>
</html>

<f:section name="asd">
    <f:if condition="{data.header}">
        {data.header}
    </f:if>
    <f:variable name="headerLayout" value="{data.header_layout}"/>
    <f:switch expression="{headerLayout}">
    </f:switch>
</f:section>